body 
	{
		font-family: "Open Sans", sans-serif;
		text-align: left;
		background: white;
		margin-top: 10%;
		margin-bottom: 10%;
		margin-right: 10%;
		margin-left: 10%;
	}

section
	{
		display: block;
		background: white;
		margin-left: 10%;
		margin-right: 10%;
	}


p
	{
		color: black; 
 		font-size: 14pt;
	}

a:link 
	{
		text-decoration: none;
		font-size: 14pt;
	}

a:visited 
	{
  		 text-decoration: none;
  		 font-size: 14pt;
  	}









