@font-face 	{									/*This tells the website to access and use a font*/
			font-family: "Norwester"; 					/*This is the font name as will be used in the css and html*/
			src: 	url("https://lrgcarter.github.io/norwester.otf");	/*This is where the font file lives*/
		}


body 											/*This is the base layer of the screen*/
		{
			background: black;						/*It's all black, so goth!*/
			margin: 0px;							/*It goes right up to the edge of the screen*/
		}



.mydiv											/*This makes the white stripe down the middle*/
		{
			display: block;
			background: white;
			margin-left: 10%;						/*Left and right margins let the black body shoow through*/
			margin-right: 10%;
			margin-top: 0px;						/*No top or bottom margin makes white go right to top and boottom of screen*/
			margin-bottom: 0px;
			padding-top: 5%;						/*All this padding stops the contents of the stripe buttting up against the margins or screen. Except the footer, screw that guy*/
			padding-bottom: 1%;
			padding-left: 5%;
			padding-right: 5%;
			min-height: 100vh;						/*This makes the stripe the Height of the Viewport, hence hv. Or vh, because the creator of code was into manga I guess */
		}

.footer 
		{
  			position: relative;
  			left: 10%;
   			right: 10%;
   			top: 50px;
   			background-color: inherit;
   			color: inherit;
   			text-align: center;
		}

section
		{
			display: block;
			background: inherit;
			margin: 10px;
			padding: 0px;
		}

figure 
		{
  			display: block;
			border: none;
  			width: auto;
  			margin: 15px;
		}

figcaption 
		{
  			background-color: inherit;
 			padding: 2px;
  			text-align: center;
		}


h1 
 	{ 
 		color: black; 
 		font-size: 32pt; 
 		font-style: bold; 
 		font-family: "Norwester", "Teko", "Arial Black", sans-serif; 
 	} 

h2
	{
		color: black; 
 		font-size: 24pt; 
 		font-style: italic; 
 		font-family: "Norwester", "Teko", "Arial Black", sans-serif; 	
	}

h3
	{
		color: black; 
 		font-size: 20pt; 
 		font-style: initial; 
 		font-family: "Norwester", "Teko", "Arial Black", sans-serif;
	}

h4	
	{
		color: black; 
 		font-size: 18pt; 
 		font-style: initial; 
 		font-family: "Norwester", "Teko", "Arial Black", sans-serif;
		padding: 2px;
		margin: 2px;
		border: 2px;
	}

h5	
	{
		color: black; 
 		font-size: 14pt; 
 		font-style: initial; 
 		font-family: "Norwester", "Teko", "Arial Black", sans-serif;
		padding: 2px;
		margin: 2px;
		border: 2px;
	}

h6	
	{
		color: transparent; 
 		font-size: 14pt; 
 		font-style: initial; 
 		font-family: "Norwester", "Teko", "Arial Black", sans-serif;
		padding: 2px;
		margin: 2px;
		border: 2px;
	}

p.pclass1
	{
		font-family: "Open Sans", sans-serif;
		text-align: center;
		color: black; 
 		font-size: 14pt;
		padding-left: 5px;
		padding-right: 5px;
	}

p.pclass2	
	{
   		color: black;
		text-align: center;
    		font-size: 20px;
		font-family: "Norwester", "Teko", "Arial Black", sans-serif;
		padding: 2px;
		margin: 2px;
	}

a:link 
	{
		text-decoration: none;
		font-size: 14pt;
	}

a:visited 
	{
  		 text-decoration: none;
  		 font-size: 14pt;
  	}

a.linkclass1:link 
	{
  		color:  #9100ff;
  		background-color: transparent;
  		text-decoration: none;
	}

a.linkclass1:hover 
	{
  		color: #ff00ec;
  		background-color: transparent;
  		text-decoration: underline;
	}
			
 a.linkclass1:visited 
  	{
  		color:  #ff006b;
  		background-color: transparent;
  		text-decoration: none;
	}

img
	{
		max-width: 100%;
  		height: auto;
	}


.grid-container 
	{
  		display: grid;
  		align-content: center;
	}




@media only screen and (max-width: 900px) 

	{

		section
			{
				margin-left: 2%;
				margin-right: 2%;
			}

		h1 
 			{ 
 				font-size: 24pt;
 			} 

		h2
			{
 				font-size: 20pt; 	
			}

		h3
			{
 				font-size: 18pt; 
 				
			}

		h4
		
			{
 				font-size: 18pt;
			}
		

		p
			{
				color: black; 
 				font-size: 10pt;
			}

		a:link 
			{
				text-decoration: none;
				font-size: 10pt;
			}

		a:visited 
			{
  				 text-decoration: none;
  				 font-size: 10pt;
			}
		
	
	}
		

		
		





