@font-face 	{									/*This tells the website to access and use a font*/
			font-family: "Norwester"; 					/*This is the font name as will be used in the css and html*/
			src: 	url("https://lrgcarter.github.io/norwester.otf");	/*This is where the font file lives*/
		}


body 											/*This is the base layer of the screen*/
		{
			text-align: center;
			background: black;						/*It's all black, so goth!*/
			margin: 0;							/*It goes right up to the edge of the screen*/
		}



.mydiv											/*This makes the white stripe down the middle*/
		{
			display: block;
			background: white;
			margin-left: 10%;						/*Left and right margins let the black body shoow through*/
			margin-right: 10%;
			margin-top: 0;							/*No top or bottom margin makes white go to edge of screen*/
			margin-bottom: 0;
			padding-top: 5%;						/*Padding stops the stripe contents buttting up*/
			padding-bottom: 1%;						/*gainst the margins or edge of screen.*/
			padding-left: 5%;
			padding-right: 5%;
			min-height: 100vh;						/*This makes the stripe the Height of the Viewport, hence VH*/
		}

footer 											/*This makes the footer happen*/
		{
  			padding-top:  25px;
   			background-color: inherit;
   			color: inherit;
   			text-align: center;
		}

section											/*connects things if there isn't a better term availible*/
		{
			display: block;
			background: inherit;
			margin: 10px;
			padding: 0px;
		}

figure 											/*this is like a section tag, but for images and related elements*/
		{
  			display: block;
			border: none;
  			width: auto;
		}

figcaption 										/*Use this to give images captions*/
		{
  			background-color: inherit;
 			padding: 5px;
  			text-align: center;
    			font-size: 14pt;
			font-family: "Open Sans", sans-serif;
			margin: 2px;
		}

img											/*Use this to put images into a figure nest*/
		{									/*These are limited instructions so individual images can be*/
			max-width: 100%;						/*individually formatted*/
  			height: auto;
		}


h1 											/*Main website heading*/
 		{ 
 			color: black; 
 			font-size: 32pt; 
 			font-style: bold; 
 			font-family: "Norwester", "Teko", "Arial Black", sans-serif; 
 		} 

h2											/*Sub-page headings*/
		{
			color: black; 
 			font-size: 24pt; 
 			font-style: italic; 
 			font-family: "Norwester", "Teko", "Arial Black", sans-serif; 	
		}

h3											/*Headings within sub-pages*/
		{
			color: black; 
 			font-size: 20pt; 
 			font-style: initial; 
 			font-family: "Norwester", "Teko", "Arial Black", sans-serif;
		}




p.pclass1										/*This formats most normal words*/
	{										/*This gets a class so it's not class 0*/
		font-family: "Open Sans", sans-serif;					/*That would bug me*/
		color: black; 
 		font-size: 14pt;
		padding: 5px;		
	}



a.linkclass1:link 									/*This is the format for normal links*/
	{										/*These get a class so they're not class 0*/
		color:  #9100ff;							/*That would bug me*/
  		background-color: transparent;		
  		text-decoration: none;
		font-size: 14pt;
		font-family: "Open Sans", sans-serif;
	}

a.linkclass1:visited 
  	{
  		color:  #ff006b;
  		background-color: transparent;
  		text-decoration: none;
		margin-left: 0;
		margin-right: 0;
	}

a.linkclass1:hover 
	{
  		color: #ff00ec;
  		background-color: transparent;
  		text-decoration: underline;
		margin-left: 0;
		margin-right: 0;
	}

a.linkclass1:focus
	{
  		color: #ff00ec;
  		background-color: transparent;
  		text-decoration: underline;
		margin-left: 0;
		margin-right: 0;
	}
			

a.linkclass2
	{
		text-decoration: none;
		color: black;
    		font-size: 20px;
		font-family: "Norwester", "Teko", "Arial Black", sans-serif;
		padding-top: 15px;
		padding-bottom: 2px;
		margin-top: 15px;
		margin-bottom: 5px;
		margin-left: 0;
		margin-right: 0;
	}

a.linkclass3
	{
		text-decoration: none;
		margin-left: 0;
		margin-right: 0;
	}


.grid-container 
	{
  		display: grid;
  		align-content: center;
	}

ul 	
	{
  		list-style-type: none;
		margin: 0;
		padding: 0;
	}

ul li
	{
		padding-bottom: 20px;
	}

.tooltip 
	{
 	 	position: relative;
 		display: inline-block;
	}

.tooltip .tooltiptext 
	{
  		visibility: hidden;
  		width: auto;
  		background-color: black;
  		color: #fff;
  		text-align: center;
 		border-radius: 6px;
  		padding: 5px;
  		position: absolute;
  		z-index: 1;
  		bottom: 150%;
  		left: 50%;
  		margin-left: -60px;
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
	}

.tooltip .tooltiptext::after 
	{
  		content: "";
  		position: absolute;
  		top: 100%;
  		left: 50%;
  		margin-left: -5px;
  		border-width: 5px;
  		border-style: solid;
  		border-color: black transparent transparent transparent;
	}

.tooltip:hover .tooltiptext 
	{
  		visibility: visible;
	}


@media only screen and (max-width: 900px) 

	{

		section
			{
				margin-left: 2%;
				margin-right: 2%;
			}

		h1 
 			{ 
 				font-size: 24pt;
 			} 

		h2
			{
 				font-size: 20pt; 	
			}

		h3
			{
 				font-size: 18pt; 
 				
			}

		h4
			{
 				font-size: 18pt;
			}
		

		p.pclass1
			{
 				font-size: 12pt;
			}
		
		figcaption 	
			{
				font-size: 12pt;
			}
		
		img											
			{									
				max-width: 80%;						
			}
		
		figure 											
			{
  				margin: 10px;
			}
		
		a.linkclass1:link 							
			{			
				font-size: 12pt;
			}
		
		a.linkclass2
			{
				font-size: 16pt;
			}	
	
	}
		

		
		





